<h1>My Posts</h1>
<p>
<%= link_to 'Add to PetitBijoux', "javascript:(function(){f='http://127.0.0.1:3000/posts/new?url='+encodeURIComponent(window.location.href)+'&title='+encodeURIComponent(document.title)+'&v=5&';a=function(){if(!window.open(f+'noui=1&jump=doclose','PetitBijoux','location=yes,links=no,scrollbars=no,toolbar=no,width=550,height=550'))location.href=f+'jump=yes'};if(/Firefox/.test(navigator.userAgent)){setTimeout(a,0)}else{a()}})()" %>
</p>
<table>
  <tr>
    <th>Text</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%=h post.text %></td>
    <td><%=image_tag "http://snapcasa.com/get.aspx?code=8660&size=m&url=#{post.url}" %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
